*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height:100vh;
    background: linear-gradient(135deg,#153677,#4d095e);
    padding: 10px;
}
.todo-app{
    background: #fff;
    max-width: 400px;
    margin: 50px auto;
    padding: 40px 30px 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 24px;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items:center;
    background: #edeef0;
    padding-left: 20px;
    border-radius: 30px;
}
input{
    flex:1;
    border:none;
    outline:none;
    background:transparent;
    padding:10 px;
    font-weight: 14px;
}
button{
    border:none;
    outline:none;
    padding: 16px 50px;
    background: #ff5945;
    color:#fff;
    font-size:16px;
    cursor:pointer;
    border-radius: 40px;
}


ul li{
    list-style: none;
    font-size:17px;
    padding:16px 8px 12px 50px;
    user-select:none;
    cursor:pointer;
    position:relative;
    border-bottom: 1px solid #f0f0f0;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width:28px;
    border-radius: 50%;
    background-image: url("unchecked.png");
    background-size:cover;
    background-position: center;
    top:12px;
    left:8px;
}
ul li.checked{
    color:#555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url("checked.png");
}
ul li span{
    position:absolute;
    right:0;
    top: 5px;
    width: 40px;
    height: 50 px;
    font-size: 22px;
    color:#555;
    line-height: 40px;
    text-align: center
}ul li span:hover{
    background:#edeef0;
}
